
<style>
    .card-item {
        cursor: pointer;
    }

        .card-item:hover {
            opacity: 0.5;
        }

    .card-image {
        width: 70px;
        height: 70px;
    }

</style>
<div class="row">
    <div class="col-xs-12 col-sm-3">
        <div class="card card-item">
            <div class="card-body text-center">
                <img src="~/icons/aluno.svg" class="card-image" />
                <h5 class="card-title ">Alunos</h5>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">

        <div class="card card-item" onclick="rotearLivros()">
            <div class="card-body text-center">
                <img src="~/icons/livro-biblioteca.svg" class="card-image" />
                <h5 class="card-title">Livros</h5>
            </div>
        </div>
    </div>

    <div class="col-xs-12 col-sm-3">

        <div class="card card-item">
            <div class="card-body text-center">
                <img src="~/icons/livro-menu.svg" class="card-image" />
                <h5 class="card-title">Empréstimos</h5>
            </div>
        </div>

    </div>

</div>

<script>
    function rotearLivros(){
        window.location.href = "/views/livro";
    }
</script>



